.heading{
    margin:0px;
    font-size: 25px;
    width:100%;
}
.note{
    font-size:15px;
    color: black;
}
body{
    background-size: cover;
}
.sn_button{
    width:130px;
    font-size: 20px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px;
    padding: 5px;
    margin: 5px;
}